.profile-pic-resize {
	height: auto;
	width: auto;
	max-height: 30px;
	max-width: 30px;
}

.logo-resize {
	height: auto;
	width: auto;
	max-height: 200px;
	max-width: 200px;
}

.se-logo-resize {
	height: auto;
	width: auto;
	max-height: 25px;
	max-width: 100px;
}

.footer-black {
	background-color: #2f2f2f;
}

nav a {
	color: #a2dcf4;
	padding: auto;
	margin-right: 10px;
}

.nav-padding {
	padding: 20px;
}

#btn-color {
	color: #fff;
}

#tr-text-color {
	color: #fff;
}

ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li a {
	color: #bbb;
	font-size: 12px;
}

.table-margin {
	margin-top: 40px;
	margin-bottom: 20px;
}

.bottom-text {
	color: #bbb;
}

.main-link {
  font-size: 16px;
  font-weight: 400;
}

.vote-count {
  font-size: 17px;
}

.text-small {
  font-size: 11px;
  text-align: center;
}

.txt-rt {
  font-size: 12px;
}

.color-change {
  color: #3e6d8e;
}

.move-down {
  margin-top: 5px;
}

#views {
  padding-left: 6px;
}

#jbdc {
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 2px;
  margin-bottom: -10px;
  background-color: #e4edf4;
  margin-right: 7px;
  margin-left: 22px;
}

#question:hover {
  color: #07C;
}

#connect {
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 2px;
  margin-bottom: -10px;
  background-color: #e4edf4;
}

#asked {
  color: #999;
}

#asked:hover {
  color: #07C;
}

#contributor:hover {
  color: #07C;
}

#pts {
  margin-left: -30px;
}

.mv-top {
  margin-top: 25px;
}

.p-resize {
  font-size: 12px;
  display: inline;
  padding: 0;
}

.hov-orange:hover {
	border-top: solid orange 1px;
}